/*********************************
 *
 * VARIABLES
 *
 ********************************/

//FONT WEIGHTS
$light: 300;
$regular: 400;
$bold: 600;


//COLORS
$light-gray: #efefef;
$dark-gray: #333;


/********************************
 *
 * MIXINS
 *
 *******************************/

@mixin round-image($diameter, $marg-top, $marg-right, $marg-btm, $marg-left){
  display: block;
  width: $diameter;
  height: $diameter;
  margin: $marg-top $marg-right $marg-btm $marg-left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  //border: $b-width solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}


/*********************************
 *
 * STYLES - MOBILE FIRST
 *
 ********************************/

*{
  margin: 0;
}

html, body {
  height: 100%;
}

h1 {
  line-height: 1.25em;
}

dl{
  font-weight: $light !important;
}

dt{
  font-weight: $regular !important;
}

form{
  margin: .25em;
}

table{
  border: 0;
  width: 100%;
  margin-bottom: 4em;
}

.container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0;
}

.main-section{
  background-color: white;
  padding-top: 1em;
}

.headerRow{
  padding-top: 3em;
  padding-bottom: 2em;
}

.imgBkg{
  background-color: $dark-gray;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('/images/shutterstock_143361787_tall.jpg');
}

.heroCopy {
  h1, p, ul{
    color: white;
    font-weight: $light;
  }
  p, ul {
    font-size: 1.25em !important;
  }
  p {
    margin: 1.25em 0 .5em 0;
  }
}

#benefits{
  background-color: white;
  border-top: 1px solid #555;
  padding-top: 2em;
  padding-bottom: 2em;
  
  i{
    font-size: 4em;
  }
  
  p, h4{
    font-weight: 300;
  }

  p {
   margin-bottom: 1em !important;
  }

  .last-item p{
    margin-bottom: 0;
  }
  
  h4{
    text-transform: capitalize;
  }
}

#responsive{
  .row{
    border-top: 2px solid $light-gray;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  h4, p{
    text-align: center;
  }
  p{
    font-weight: $light;
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

#bio{
  background-color: $light-gray;
  padding: 2em 0;
  .social-icons a {
    margin: 0 .5em 0 .5em;
  }

  h4, h5, .social-icons{
    text-align: center;
  }

}

footer{
  background-color: $dark-gray;
  color: #aeaeae;
  bottom:0;
  width:100%;
  height:5em;   /* Height of the footer */
  padding: .5em 0;
  margin-top: 0;
  

  p{
    font-size: .875em;
    float: right;
  }
  a {
    font-weight: $light;
    color: #aeaeae;
    &:hover{
      color: darken(#aeaeae, 30%);
    }
  }
  ul{
    margin-left: 0;
  }
  ul,p {
    margin: 0 auto;
    float: none;
    text-align: center;
  }
  i {
    line-height: 1.75em !important;
  }
  li {
    display: inline-block;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.sidebarFooter{
  background-color: lighten($light-gray, 5%);
  border-top: 1px solid $light-gray;

  .sidebar{
    background-color: lighten($light-gray, 5%); 
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0em;
    border: 0;
    
    dd{
      margin-left: .5em;
    }
    dd.host{
        margin: 0;
    }
    .sidebarCopy{
      color: #666;
    }
  }
}



div.host{
  padding-left: .5em !important;

  .sidebarCopy{
    margin-bottom: 0em;
    dd{
      margin-left: 0 !important;
    }
  }
}

.owner.panel{
  padding: .5em 1em;
  background-color: white;
  h6 {
    margin-bottom: .25em;
    line-height: 2em;
  }
  .owner-message{
      font-weight: $regular;
    }  
}

.ownerFunctions{
    
    float: none;
    display: inline-block;
    margin-bottom: 0;

    h6 {
      margin-top: 0;
    }

    .bitly{
      margin: 0;
    }

    .prefix{
    }
}

#ownerAlert{
  padding-top: .25em;
  padding-bottom: .25em;
  font-weight: $light;
  font-size: .875em;
}

.highlight{
  background-color: rgba(255, 193, 37, .2);
}

@mixin edit_field{
  font-size: 1em !important;
  font-weight: $light;
  height: 2em !important;
  line-height: 1em !important;
}

#edit_eventName{
  @include edit_field();
}

#edit_eventDesc{
  @include edit_field();
  height: 2.25em !important;
}

#eventDate, #eventTime, #eventLocation{
  display: block; 
}

.delete{
  font-size: .875em;
}

.deleteItem{
  font-weight: $light;
  font-size: .875em;
}

.desc-row{
  padding-bottom: 1em;
}

.full-width{
  width: 100%;
  margin-bottom: 0;
}

.img-col{
  padding-right: .25em; 
}

.smaller{
  font-size: .875em;
  font-weight: $light;
  line-height: 1.2;
  color: #888888;
  margin-bottom: 0em;
  text-align: bottom !important;
}

.item {
  border-bottom: 1px solid #ccc !important;
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;

  .itemCopy{
    margin-bottom: 1em;
  }
  
  .button{
    padding: .875em;
    min-width: 6em;
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  &:last-child{
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.panel{
  border: 1px solid #f0f0f0;
  padding: 1em;
  background-color: #fafafa;
}

.callout h5, .callout small{
  color: #2ba6cb !important;
}

.circle {
  @include round-image(75px, 0, auto, 0, .5em); 
}

.circle-small {
  @include round-image(20px, 0, .25em, 0, 0);  
}

.circle-large{
  @include round-image(125px, 0, auto, 0, auto); 
}

.small-img{
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
  margin-right: .25em;
}

#addItem{
  background-color: #2ba6cb;
  width: 100%;
}

.reveal-modal{
  font-weight: $light;
}

.modal-buttons-inline{
  margin-bottom: 0;
}


/****************************************
 *
 * MEDIA QUERIES
 *
 ***************************************/

@media only screen and (min-width: 40em){

  .container{
    margin: 0 auto -1em;
  }

  .circle-small {
    @include round-image(20px, .875em, .5em, 0, 0);  
  }

  #benefits{
    p {
      margin-bottom: 0;
    }
  }

  #responsive {
    h4, p{
      text-align: left;
    }
  }

  #bio {
    h4, h5, .social-icons{
      text-align: left !important;
    }
  }

  footer{
    margin-top: 1em;
    ul{
      text-align: left;
    }
    p {
      float: right;
    }
  }

  .ownerFunctions{
    float: right;
  }

  .img-col{
    padding-right: 0;
  }

  .sidebarFooter{
    background-color: white;
    border-top: 0;

    .sidebar {
      border: 1px solid $light-gray;
    }
  }
}

@media only screen and (min-width: 63em){
  .headerRow{
    padding-top: 3em;
  }

  .imgBkg{
    background-size: 100% auto;
    background-position: left top;
    background-image: url('/images/shutterstock_143361787_wide.jpg');
  }
}

