$light-gray: #efefef;


/********************************
 *
 * MIXINS
 *
 *******************************/

@mixin round-image($diameter, $marg-top, $marg-right, $marg-btm, $marg-left, $b-width){
  display: block;
  width: $diameter;
  height: $diameter;
  margin: $marg-top $marg-right $marg-btm $marg-left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: $b-width solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}






*{
  margin: 0;
}


html, body {
  height: 100%;
}

dl{
  font-weight: 300 !important;
}

dt{
  font-weight: normal !important;
}

.imgBkg{
  
  background-image: url('/shutterstock_143361787_tall.jpg');
  background-color: #333;
  background-repeat: no-repeat;
  background-size: auto 100%;
  //background-width: 100%;
  //background-attachment: fixed;
  background-position: left top;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media only screen and (min-width: 50em){
  .imgBkg{
    background-image: url('/shutterstock_143361787_wide.jpg');
    background-size: 100% auto;
    background-position: left top;
  }

  #benefits{
    p {
      margin-bottom: 0;
    }
  }

}

.headerRow{
  padding-top: 3em;
  padding-bottom: 2em;
}

.heroCopy h1, .heroCopy p, .heroCopy ul{
  color: white;
  font-weight: 300;
}

.heroCopy {
  p, ul {
    font-size: 1.25em !important;
  }
  p {
    margin: 1.25em 0 .5em 0;
  }
}

#benefits{
  background-color: white;
  border-top: 1px solid #555;
  padding-top: 2em;
  padding-bottom: 2em;

  .last-item{
    p{
      margin-bottom: 0;
    }
  }

}

#benefits i{
  font-size: 4em;
}

#benefits p, #benefits h4{
  font-weight: 300;
  /*color: white;*/
}

#benefits h4{
  text-transform: capitalize;
}

#responsive{
  
  .row{
    border-top: 2px solid $light-gray;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  p{
    font-weight: 300;
    margin-bottom: 0;
  }


  img {
    width: 100%;
  }
}

#bio{
  background-color: $light-gray;
  padding: 2em 0;
  .social-icons a {
    margin: 0 .5em 0 .5em;
  }
}


footer{
  background-color: #333;
  color: #aeaeae;
  bottom:0;
  width:100%;
  height:5em;   /* Height of the footer */
  padding: .5em 0;
  margin-top: 1em;

  p{
    font-size: .875em;
    float: right;
  }
  a {
    font-weight: 300;
    color: #aeaeae;
    &:hover{
      color: darken(#aeaeae, 30%);
    }
  }
  ul{
    margin-left: 0;
  }
  ul,p {
    margin-bottom: 0 !important;
  }
  i {
    line-height: 1.75em !important;
  }
  li {
    display: inline-block;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.sidebar{
  background-color: lighten($light-gray, 5%); 
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0em;
  dd{
    margin-left: .5em;
  }
  border: 1px solid $light-gray;
}


.sidebarCopy{
  color: #666;
}

.owner.panel{
  padding: .5em 1em;
  background-color: #fff;
  h6 {
    margin-bottom: .25em;
  }  
}

.ownerFunctions{
    float: right;
    display: inline-block;
    margin-bottom: 0;
}

@media only screen and (max-width: 40em) { 

  #bio{
    h4, h5, .social-icons{
      text-align: center !important;
    }

  }

  footer{
    margin-top: 0;
    p, ul {
      margin: 0 auto !important;
    }
    p, ul{
      float: none !important;
      text-align: center !important;
    }
  }

  .ownerFunctions{
    float: none;
  }
  

  .itemCopy{
    margin-bottom: 1em;
  }

  .small-img{
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
    margin-right: .25em;
  }

  .img-col{
    padding-right: .25em;
   
  }

  .sidebar{
    border: 0;
  }

  .sidebarFooter{
    background-color: lighten($light-gray, 5%);
    border-top: 1px solid $light-gray;
  }
}

form{
  margin: .25em;
}

.container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1em;
}


@media only screen and (max-width: 40em) { 

  .container{
    margin: 0 auto 0;
  }
}

.main-section{
  background-color: white;
  padding-top: 1em;
  //padding-bottom: 3em;
}

#eventForm{
  color: white;
}

#ownerAlert{
  padding-top: .25em;
  padding-bottom: .25em;
  font-weight: 300;
  font-size: .875em;
}

.highlight{
  background-color: rgba(255, 193, 37, .2);
}

#edit_eventName{
  font-size: 1em !important;
  font-weight: 300;
  height: 2em !important;
  line-height: 1em !important;
}

#edit_eventDesc{
  font-size: 1em !important;
  font-weight: 300;
  height: 2.25em !important;
  line-height: 1em !important;
}

#eventDate, #eventTime, #eventLocation{
  display: block; 
}

.delete{
  font-size: .875em;
  /*margin-top: 2em !important;*/
}

.deleteItem{
  font-weight: 300;
  font-size: .875em;
  //margin-left: 1.25em;
}

h1 {
  line-height: 1.25em;
}

.desc-row{
  padding-bottom: 1em;
}

.full-width{
  width: 100%;
  margin-bottom: 0;
}

.img-col{
  padding-right: 0;
}

.smaller{
  font-size: .875em;
  font-weight: 300;
  line-height: 1.2;
  color: #888888;
  margin-bottom: 0em;
  text-align: bottom !important;
}

.item {
  border-bottom: 1px solid #ccc !important;
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
  
  .button{
    padding: .875em;
    min-width: 6em;
    margin: 0;
  }

  h4 {
    margin: 0;
  }


}

.item:last-child{
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.panel{
  border: 1px solid #f0f0f0;
  padding: 1em;
  background-color: #fafafa;
}


.callout h5, .callout small{
  color: #2ba6cb !important;
}

.circle {
  @include round-image(75px, 0, auto, 0, .5em, 3px); 
}

.circle-small {
  @include round-image(20px, .875em, .5em, 0, 0, 1px);  
}

.circle-large{
  @include round-image(125px, 0, auto, 0, auto, 3px); 
}

@media only screen and (max-width: 40em) {
  .circle-small {
    margin: 0 .25em 0 0;
  }
}

.small-img{
  width: 100%;
  //height: 100%;
  border: 1px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
  margin-right: .25em;

}



#addItem{
  background-color: #2ba6cb;
  width: 100%;

}

.reveal-modal{
  font-weight: 300;
  //position: fixed;
}

.modal-buttons-inline{
  margin-bottom: 0;
}

table{
  border: 0;
  width: 100%;
  margin-bottom: 4em;
}