/*********************************
 *
 * VARIABLES
 *
 ********************************/
/********************************
 *
 * MIXINS
 *
 *******************************/
/*********************************
 *
 * STYLES - MOBILE FIRST
 *
 ********************************/
/* line 46, ../../sass/app.scss */
* {
  margin: 0; }

/* line 50, ../../sass/app.scss */
html, body {
  height: 100%; }

/* line 54, ../../sass/app.scss */
h1 {
  line-height: 1.25em; }

/* line 58, ../../sass/app.scss */
dl {
  font-weight: 300 !important; }

/* line 62, ../../sass/app.scss */
dt {
  font-weight: 400 !important; }

/* line 66, ../../sass/app.scss */
form {
  margin: .25em; }

/* line 70, ../../sass/app.scss */
table {
  border: 0;
  width: 100%;
  margin-bottom: 4em; }

/* line 76, ../../sass/app.scss */
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0; }

/* line 83, ../../sass/app.scss */
.main-section {
  background-color: white;
  padding-top: 1em; }

/* line 88, ../../sass/app.scss */
.headerRow {
  padding-top: 3em;
  padding-bottom: 2em; }

/* line 93, ../../sass/app.scss */
.imgBkg {
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/images/shutterstock_143361787_tall.jpg"); }

/* line 107, ../../sass/app.scss */
.heroCopy h1, .heroCopy p, .heroCopy ul {
  color: white;
  font-weight: 300; }
/* line 111, ../../sass/app.scss */
.heroCopy p, .heroCopy ul {
  font-size: 1.25em !important; }
/* line 114, ../../sass/app.scss */
.heroCopy p {
  margin: 1.25em 0 .5em 0; }

/* line 119, ../../sass/app.scss */
#benefits {
  background-color: white;
  border-top: 1px solid #555;
  padding-top: 2em;
  padding-bottom: 2em; }
  /* line 125, ../../sass/app.scss */
  #benefits i {
    font-size: 4em; }
  /* line 129, ../../sass/app.scss */
  #benefits p, #benefits h4 {
    font-weight: 300; }
  /* line 133, ../../sass/app.scss */
  #benefits p {
    margin-bottom: 1em !important; }
  /* line 137, ../../sass/app.scss */
  #benefits .last-item p {
    margin-bottom: 0; }
  /* line 141, ../../sass/app.scss */
  #benefits h4 {
    text-transform: capitalize; }

/* line 147, ../../sass/app.scss */
#responsive .row {
  border-top: 2px solid #efefef;
  padding-top: 2em;
  padding-bottom: 2em; }
/* line 153, ../../sass/app.scss */
#responsive h4, #responsive p {
  text-align: center; }
/* line 156, ../../sass/app.scss */
#responsive p {
  font-weight: 300;
  margin-bottom: 0; }
/* line 161, ../../sass/app.scss */
#responsive img {
  width: 100%; }

/* line 166, ../../sass/app.scss */
#bio {
  background-color: #efefef;
  padding: 2em 0; }
  /* line 169, ../../sass/app.scss */
  #bio .social-icons a {
    margin: 0 .5em 0 .5em; }
  /* line 173, ../../sass/app.scss */
  #bio h4, #bio h5, #bio .social-icons {
    text-align: center; }

/* line 179, ../../sass/app.scss */
footer {
  background-color: #333333;
  color: #aeaeae;
  bottom: 0;
  width: 100%;
  height: 5em;
  /* Height of the footer */
  padding: .5em 0;
  margin-top: 0; }
  /* line 189, ../../sass/app.scss */
  footer p {
    font-size: .875em;
    float: right; }
  /* line 193, ../../sass/app.scss */
  footer a {
    font-weight: 300;
    color: #aeaeae; }
    /* line 196, ../../sass/app.scss */
    footer a:hover {
      color: #626262; }
  /* line 200, ../../sass/app.scss */
  footer ul {
    margin-left: 0; }
  /* line 203, ../../sass/app.scss */
  footer ul, footer p {
    margin: 0 auto;
    float: none;
    text-align: center; }
  /* line 208, ../../sass/app.scss */
  footer i {
    line-height: 1.75em !important; }
  /* line 211, ../../sass/app.scss */
  footer li {
    display: inline-block;
    margin-right: 1em; }
    /* line 214, ../../sass/app.scss */
    footer li:last-child {
      margin-right: 0; }

/* line 220, ../../sass/app.scss */
.sidebarFooter {
  background-color: #fcfcfc;
  border-top: 1px solid #efefef; }
  /* line 224, ../../sass/app.scss */
  .sidebarFooter .sidebar {
    background-color: #fcfcfc;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0em;
    border: 0; }
    /* line 231, ../../sass/app.scss */
    .sidebarFooter .sidebar dd {
      margin-left: .5em; }
    /* line 234, ../../sass/app.scss */
    .sidebarFooter .sidebar dd.host {
      margin: 0; }
    /* line 237, ../../sass/app.scss */
    .sidebarFooter .sidebar .sidebarCopy {
      color: #666; }

/* line 245, ../../sass/app.scss */
div.host {
  padding-left: .5em !important; }
  /* line 248, ../../sass/app.scss */
  div.host .sidebarCopy {
    margin-bottom: 0em; }
    /* line 250, ../../sass/app.scss */
    div.host .sidebarCopy dd {
      margin-left: 0 !important; }

/* line 256, ../../sass/app.scss */
.owner.panel {
  padding: .5em 1em;
  background-color: white; }
  /* line 259, ../../sass/app.scss */
  .owner.panel h6 {
    margin-bottom: .25em;
    line-height: 2em; }
  /* line 263, ../../sass/app.scss */
  .owner.panel .owner-message {
    font-weight: 400; }

/* line 268, ../../sass/app.scss */
.ownerFunctions {
  float: none;
  display: inline-block;
  margin-bottom: 0; }
  /* line 274, ../../sass/app.scss */
  .ownerFunctions h6 {
    margin-top: 0; }
  /* line 278, ../../sass/app.scss */
  .ownerFunctions .bitly {
    margin: 0; }

/* line 286, ../../sass/app.scss */
#ownerAlert {
  padding-top: .25em;
  padding-bottom: .25em;
  font-weight: 300;
  font-size: .875em; }

/* line 293, ../../sass/app.scss */
.highlight {
  background-color: rgba(255, 193, 37, 0.2); }

/* line 304, ../../sass/app.scss */
#edit_eventName {
  font-size: 1em !important;
  font-weight: 300;
  height: 2em !important;
  line-height: 1em !important; }

/* line 308, ../../sass/app.scss */
#edit_eventDesc {
  font-size: 1em !important;
  font-weight: 300;
  height: 2em !important;
  line-height: 1em !important;
  height: 2.25em !important; }

/* line 313, ../../sass/app.scss */
#eventDate, #eventTime, #eventLocation {
  display: block; }

/* line 317, ../../sass/app.scss */
.delete {
  font-size: .875em; }

/* line 321, ../../sass/app.scss */
.deleteItem {
  font-weight: 300;
  font-size: .875em; }

/* line 326, ../../sass/app.scss */
.desc-row {
  padding-bottom: 1em; }

/* line 330, ../../sass/app.scss */
.full-width {
  width: 100%;
  margin-bottom: 0; }

/* line 335, ../../sass/app.scss */
.img-col {
  padding-right: .25em; }

/* line 339, ../../sass/app.scss */
.smaller {
  font-size: .875em;
  font-weight: 300;
  line-height: 1.2;
  color: #888888;
  margin-bottom: 0em;
  text-align: bottom !important; }

/* line 348, ../../sass/app.scss */
.item {
  border-bottom: 1px solid #ccc !important;
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important; }
  /* line 353, ../../sass/app.scss */
  .item .itemCopy {
    margin-bottom: 1em; }
  /* line 357, ../../sass/app.scss */
  .item .button {
    padding: .875em;
    min-width: 6em;
    margin: 0; }
  /* line 363, ../../sass/app.scss */
  .item h4 {
    margin: 0; }
  /* line 367, ../../sass/app.scss */
  .item:last-child {
    border-bottom: 0 !important;
    padding-bottom: 0 !important; }

/* line 373, ../../sass/app.scss */
.panel {
  border: 1px solid #f0f0f0;
  padding: 1em;
  background-color: #fafafa; }

/* line 379, ../../sass/app.scss */
.callout h5, .callout small {
  color: #2ba6cb !important; }

/* line 383, ../../sass/app.scss */
.circle {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto 0 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

/* line 387, ../../sass/app.scss */
.circle-small {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 0.25em 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

/* line 391, ../../sass/app.scss */
.circle-large {
  display: block;
  width: 125px;
  height: 125px;
  margin: 0 auto 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

/* line 395, ../../sass/app.scss */
.small-img {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-right: .25em; }

/* line 402, ../../sass/app.scss */
#addItem {
  background-color: #2ba6cb;
  width: 100%; }

/* line 407, ../../sass/app.scss */
.reveal-modal {
  font-weight: 300; }

/* line 411, ../../sass/app.scss */
.modal-buttons-inline {
  margin-bottom: 0; }

/****************************************
 *
 * MEDIA QUERIES
 *
 ***************************************/
@media only screen and (min-width: 40em) {
  /* line 424, ../../sass/app.scss */
  .container {
    margin: 0 auto -1em; }

  /* line 428, ../../sass/app.scss */
  .circle-small {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0.875em 0.5em 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

  /* line 433, ../../sass/app.scss */
  #benefits p {
    margin-bottom: 0; }

  /* line 439, ../../sass/app.scss */
  #responsive h4, #responsive p {
    text-align: left; }

  /* line 445, ../../sass/app.scss */
  #bio h4, #bio h5, #bio .social-icons {
    text-align: left !important; }

  /* line 450, ../../sass/app.scss */
  footer {
    margin-top: 1em; }
    /* line 452, ../../sass/app.scss */
    footer ul {
      text-align: left; }
    /* line 455, ../../sass/app.scss */
    footer p {
      float: right; }

  /* line 460, ../../sass/app.scss */
  .ownerFunctions {
    float: right; }

  /* line 464, ../../sass/app.scss */
  .img-col {
    padding-right: 0; }

  /* line 468, ../../sass/app.scss */
  .sidebarFooter {
    background-color: white;
    border-top: 0; }
    /* line 472, ../../sass/app.scss */
    .sidebarFooter .sidebar {
      border: 1px solid #efefef; } }
@media only screen and (min-width: 63em) {
  /* line 479, ../../sass/app.scss */
  .headerRow {
    padding-top: 3em; }

  /* line 483, ../../sass/app.scss */
  .imgBkg {
    background-size: 100% auto;
    background-position: left top;
    background-image: url("/images/shutterstock_143361787_wide.jpg"); } }
