/********************************
 *
 * MIXINS
 *
 *******************************/
/* line 30, ../sass/app.scss */
* {
  margin: 0;
}

/* line 35, ../sass/app.scss */
html, body {
  height: 100%;
}

/* line 39, ../sass/app.scss */
dl {
  font-weight: 300 !important;
}

/* line 43, ../sass/app.scss */
dt {
  font-weight: normal !important;
}

/* line 47, ../sass/app.scss */
.imgBkg {
  background-image: url("/shutterstock_143361787_tall.jpg");
  background-color: #333;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 50em) {
  /* line 64, ../sass/app.scss */
  .imgBkg {
    background-image: url("/shutterstock_143361787_wide.jpg");
    background-size: 100% auto;
    background-position: left top;
  }

  /* line 71, ../sass/app.scss */
  #benefits p {
    margin-bottom: 0;
  }
}
/* line 78, ../sass/app.scss */
.headerRow {
  padding-top: 3em;
  padding-bottom: 2em;
}

/* line 83, ../sass/app.scss */
.heroCopy h1, .heroCopy p, .heroCopy ul {
  color: white;
  font-weight: 300;
}

/* line 89, ../sass/app.scss */
.heroCopy p, .heroCopy ul {
  font-size: 1.25em !important;
}
/* line 92, ../sass/app.scss */
.heroCopy p {
  margin: 1.25em 0 .5em 0;
}

/* line 97, ../sass/app.scss */
#benefits {
  background-color: white;
  border-top: 1px solid #555;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 104, ../sass/app.scss */
#benefits .last-item p {
  margin-bottom: 0;
}

/* line 111, ../sass/app.scss */
#benefits i {
  font-size: 4em;
}

/* line 115, ../sass/app.scss */
#benefits p, #benefits h4 {
  font-weight: 300;
  /*color: white;*/
}

/* line 120, ../sass/app.scss */
#benefits h4 {
  text-transform: capitalize;
}

/* line 126, ../sass/app.scss */
#responsive .row {
  border-top: 2px solid #efefef;
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 132, ../sass/app.scss */
#responsive p {
  font-weight: 300;
  margin-bottom: 0;
}
/* line 138, ../sass/app.scss */
#responsive img {
  width: 100%;
}

/* line 143, ../sass/app.scss */
#bio {
  background-color: #efefef;
  padding: 2em 0;
}
/* line 146, ../sass/app.scss */
#bio .social-icons a {
  margin: 0 .5em 0 .5em;
}

/* line 152, ../sass/app.scss */
footer {
  background-color: #333;
  color: #aeaeae;
  bottom: 0;
  width: 100%;
  height: 5em;
  /* Height of the footer */
  padding: .5em 0;
  margin-top: 1em;
}
/* line 161, ../sass/app.scss */
footer p {
  font-size: .875em;
  float: right;
}
/* line 165, ../sass/app.scss */
footer a {
  font-weight: 300;
  color: #aeaeae;
}
/* line 168, ../sass/app.scss */
footer a:hover {
  color: #626262;
}
/* line 172, ../sass/app.scss */
footer ul {
  margin-left: 0;
}
/* line 175, ../sass/app.scss */
footer ul, footer p {
  margin-bottom: 0 !important;
}
/* line 178, ../sass/app.scss */
footer i {
  line-height: 1.75em !important;
}
/* line 181, ../sass/app.scss */
footer li {
  display: inline-block;
  margin-right: 1em;
}
/* line 184, ../sass/app.scss */
footer li:last-child {
  margin-right: 0;
}

/* line 190, ../sass/app.scss */
.sidebar {
  background-color: #fcfcfc;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0em;
  border: 1px solid #efefef;
}
/* line 195, ../sass/app.scss */
.sidebar dd {
  margin-left: .5em;
}

/* line 202, ../sass/app.scss */
.sidebarCopy {
  color: #666;
}

/* line 206, ../sass/app.scss */
.owner.panel {
  padding: .5em 1em;
  background-color: #fff;
}
/* line 209, ../sass/app.scss */
.owner.panel h6 {
  margin-bottom: .25em;
}

/* line 214, ../sass/app.scss */
.ownerFunctions {
  float: right;
  display: inline-block;
  margin-bottom: 0;
}

@media only screen and (max-width: 40em) {
  /* line 223, ../sass/app.scss */
  #bio h4, #bio h5, #bio .social-icons {
    text-align: center !important;
  }

  /* line 229, ../sass/app.scss */
  footer {
    margin-top: 0;
  }
  /* line 231, ../sass/app.scss */
  footer p, footer ul {
    margin: 0 auto !important;
  }
  /* line 234, ../sass/app.scss */
  footer p, footer ul {
    float: none !important;
    text-align: center !important;
  }

  /* line 240, ../sass/app.scss */
  .ownerFunctions {
    float: none;
  }

  /* line 245, ../sass/app.scss */
  .itemCopy {
    margin-bottom: 1em;
  }

  /* line 249, ../sass/app.scss */
  .small-img {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    margin-right: .25em;
  }

  /* line 256, ../sass/app.scss */
  .img-col {
    padding-right: .25em;
  }

  /* line 261, ../sass/app.scss */
  .sidebar {
    border: 0;
  }

  /* line 265, ../sass/app.scss */
  .sidebarFooter {
    background-color: #fcfcfc;
    border-top: 1px solid #efefef;
  }
}
/* line 271, ../sass/app.scss */
form {
  margin: .25em;
}

/* line 275, ../sass/app.scss */
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1em;
}

@media only screen and (max-width: 40em) {
  /* line 285, ../sass/app.scss */
  .container {
    margin: 0 auto 0;
  }
}
/* line 290, ../sass/app.scss */
.main-section {
  background-color: white;
  padding-top: 1em;
}

/* line 296, ../sass/app.scss */
#eventForm {
  color: white;
}

/* line 300, ../sass/app.scss */
#ownerAlert {
  padding-top: .25em;
  padding-bottom: .25em;
  font-weight: 300;
  font-size: .875em;
}

/* line 307, ../sass/app.scss */
.highlight {
  background-color: rgba(255, 193, 37, 0.2);
}

/* line 311, ../sass/app.scss */
#edit_eventName {
  font-size: 1em !important;
  font-weight: 300;
  height: 2em !important;
  line-height: 1em !important;
}

/* line 318, ../sass/app.scss */
#edit_eventDesc {
  font-size: 1em !important;
  font-weight: 300;
  height: 2.25em !important;
  line-height: 1em !important;
}

/* line 325, ../sass/app.scss */
#eventDate, #eventTime, #eventLocation {
  display: block;
}

/* line 329, ../sass/app.scss */
.delete {
  font-size: .875em;
  /*margin-top: 2em !important;*/
}

/* line 334, ../sass/app.scss */
.deleteItem {
  font-weight: 300;
  font-size: .875em;
}

/* line 340, ../sass/app.scss */
h1 {
  line-height: 1.25em;
}

/* line 344, ../sass/app.scss */
.desc-row {
  padding-bottom: 1em;
}

/* line 348, ../sass/app.scss */
.full-width {
  width: 100%;
  margin-bottom: 0;
}

/* line 353, ../sass/app.scss */
.img-col {
  padding-right: 0;
}

/* line 357, ../sass/app.scss */
.smaller {
  font-size: .875em;
  font-weight: 300;
  line-height: 1.2;
  color: #888888;
  margin-bottom: 0em;
  text-align: bottom !important;
}

/* line 366, ../sass/app.scss */
.item {
  border-bottom: 1px solid #ccc !important;
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
/* line 371, ../sass/app.scss */
.item .button {
  padding: .875em;
  min-width: 6em;
  margin: 0;
}
/* line 377, ../sass/app.scss */
.item h4 {
  margin: 0;
}

/* line 384, ../sass/app.scss */
.item:last-child {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* line 389, ../sass/app.scss */
.panel {
  border: 1px solid #f0f0f0;
  padding: 1em;
  background-color: #fafafa;
}

/* line 396, ../sass/app.scss */
.callout h5, .callout small {
  color: #2ba6cb !important;
}

/* line 400, ../sass/app.scss */
.circle {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto 0 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 3px solid #eeeeee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* line 404, ../sass/app.scss */
.circle-small {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0.875em 0.5em 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 1px solid #eeeeee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* line 408, ../sass/app.scss */
.circle-large {
  display: block;
  width: 125px;
  height: 125px;
  margin: 0 auto 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 3px solid #eeeeee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 40em) {
  /* line 413, ../sass/app.scss */
  .circle-small {
    margin: 0 .25em 0 0;
  }
}
/* line 418, ../sass/app.scss */
.small-img {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-right: .25em;
}

/* line 429, ../sass/app.scss */
#addItem {
  background-color: #2ba6cb;
  width: 100%;
}

/* line 435, ../sass/app.scss */
.reveal-modal {
  font-weight: 300;
}

/* line 440, ../sass/app.scss */
.modal-buttons-inline {
  margin-bottom: 0;
}

/* line 444, ../sass/app.scss */
table {
  border: 0;
  width: 100%;
  margin-bottom: 4em;
}
