<template name="footer">
	<footer>
		<div class="footerBkg">
			<div class="row">
				<div class="small-12 medium-6 columns">
					<ul class="">
						<li><a href="{{bugUrl}}" target="_blank">Report a bug</a></li>
						<li><a href="{{twitterUrl}}"><i class="ion-social-twitter"></i></a></li>
						<li><a href="{{linkedinUrl}}"><i class="ion-social-linkedin"></i></a></li>
						<li><a href="{{blogUrl}}"><i class="ion-social-wordpress"></i></a></li>
					</ul>
				</div>
				<div class="small-12 medium-6 columns">
					<p>&copy; 2013 Peter Chaivre </p>
				</div>
			</div>
			
		</div>
	</footer>
</template>