<template name="home">
	<div class="imgBkg">
		<div class="row headerRow">
			<div class="small-12 medium-7 columns heroCopy">
				<h1>It's 'Party Hard'<br/>Not 'Party Difficult'</h1>
				<p>Bring It! makes it easy to plan your next get-together:
					<ul>
						<li>Make a list of items</li>
						<li>Share the list with your friends</li>
						<li>They pick items to bring, or sign up for something else</li>
					</ul>
				</p>
			</div>
			<div class="small-12 medium-5 columns">
				{{#autoForm schema=events2Collection framework="none" id="insertEventForm" class="radius panel" novalidate="true"}}
				<div class="row ">
					<div class="small-12 columns">
						<h4>Get Started</h4>
					</div>
				</div>
				<div class="row ">
					<div class="small-12 columns {{#if afFieldIsInvalid 'evName'}}error{{/if}}">
						{{afFieldLabel 'evName' }}
						{{afFieldInput 'evName' }}
						{{#if afFieldIsInvalid 'evName'}}
						<small class="error">{{afFieldMessage 'evName'}}</small>
						{{/if}}
					</div>
				</div>
				<div class="row ">
					<div class="small-12 columns {{#if afFieldIsInvalid 'evDate'}} error{{/if}}">
						{{afFieldLabel 'evDate'}}
						{{afFieldInput 'evDate' placeholder='MM/DD/YYYY'}}
						{{#if afFieldIsInvalid 'evDate'}}
						<small class="error">{{afFieldMessage 'evDate'}}</small>
						{{/if}}
					</div>
				</div>
				<div class="row ">
					<div class="small-12 columns {{#if afFieldIsInvalid 'evTime'}} error{{/if}}">
						{{afFieldLabel 'evTime'}}
						{{afFieldInput 'evTime' options=timeOptions}}
						{{#if afFieldIsInvalid 'evTime'}}
						<small class="error">{{afFieldMessage 'evTime'}}</small>
						{{/if}}
					</div>
				</div>
				<div class="row ">
					<div class="small-12 columns {{#if afFieldIsInvalid 'evLoc'}} error{{/if}}">
						{{afFieldLabel 'evLoc'}}
						{{afFieldInput 'evLoc'}}
						{{#if afFieldIsInvalid 'evLoc'}}
						<small class="error">{{afFieldMessage 'evLoc'}}</small>
						{{/if}}
					</div>
				</div>
				<div class="row ">
					<div class="small-12 columns">

						<button type="submit" class="radius small button insert">Next</button>
					</div>
				</div>
				{{/autoForm}}
			</div>
		</div>
		</div>
		<div id="benefits">
			<div class="row text-center">
				<div class="small-12 medium-4 columns">
					<i class="ion-clipboard"></i>
					<h4>Make a list</h4>
					<p>Add all the stuff you need people to bring &mdash; food, drinks, whatever</p>
				</div>
				<div class="small-12 medium-4 columns">
					<i class="ion-ios7-people"></i>
					<h4>Invite your friends</h4>
					<p>Just send your friends the link.  They can see all the event details and the list of items</p>
				</div>
				<div class="small-12 medium-4 columns last-item">
					<i class="ion-checkmark-round"></i>
					<h4>They 'Bring It!'</h4>
					<p>Friends sign in with Facebook and pick the items they're going to bring</p>
				</div>
			</div>
		</div>
		<div id="responsive">
			<div class="row">
				<div class="small-12 medium-8 columns">
					<img src="images/BringIt_Showcase_transparent.png">
				</div>
				<div class="small-12 medium-4 columns ">
					<h4>Works on any Screen</h4>
					<p>Bring It! will work just as well on your mobile device as on your laptop.</p>
				</div>
			</div>
		</div>
		<div id="bio">
			<div class="row" >
				<div class="small-12 medium-3 columns">
					<img class="circle-large" src="http://graph.facebook.com/1249063254/picture/?width=200&height=200">
				</div>
				<div class="small-12 medium-9 columns">
					<h4>Hi!  I'm Peter Chaivre</h4>
					<div class="social-icons">
						<a href="{{twitterUrl}}"><i class="ion-social-twitter"></i></a>
						<a href="{{linkedinUrl}}"><i class="ion-social-linkedin"></i></a>
						<a href="{{blogUrl}}"><i class="ion-social-wordpress"></i></a>
					</div>
					<h5 class="subheader">I'm a digital producer in NYC, and I love creating platforms and web apps.  This is a little experiment with <a href="http://www.meteor.com">Meteor.js</a> and <a href="http://foundation.zurb.com">Foundation 5</a>.  It's a beta (and may not ever get past that stage), but feel free to play and <a href="{{bugUrl}}">report any bugs</a> you find!</h5>
				</div>
			</div>
		</div>
</template>